.image {
    position: relative;
    overflow: hidden;
    background-color: #000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 10rem;
    cursor: pointer;
}

.image span {
    position: relative;
    z-index: 1;
}

.zoom-in::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.zoom-in:focus::after, .zoom-in:hover::after {
    transform: scale(1.1);
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    height: 7rem;
    width: 100%;
    z-index: 2;
    padding: 0.625rem;
}

.card-info span {
    font-family: "Arial";
    color: #111;
    display: block;
    font-size: 1.5rem;
    padding-bottom: 1.125rem;
}

.base-price {
    font-family: "Arial";
    font-size: 0.688rem;
    text-decoration: line-through;
    line-height: 0.125rem;
    color: rgb(175, 10, 10);
    width: 7.5rem;
    float: right;
    text-align: left;
}

.price {
    font-family: "Arial";
    font-size: 1.5rem;
    width: 7.5rem;
    float: right;
    text-align: left;
    clear: both;
}

.cardDeck{

   display: flex;
   flex-wrap: wrap;
}

.productCard{
    width: 200px; 
}

.card-text-el{
   margin-bottom: 0px;
}

.basePrice{
    color: red;
}